[submodule "myoFPGA/src/roboy_managing_node"]
	path = myoFPGA/src/roboy_managing_node
	url = https://github.com/Roboy/roboy_managing_node
[submodule "myoFPGA/src/roboy_powerlink"]
	path = myoFPGA/src/roboy_powerlink
	url = https://github.com/Roboy/roboy_powerlink
[submodule "myoFPGA/src/roboy_controlled_node_fpga"]
	path = myoFPGA/src/roboy_controlled_node_fpga
	url = https://github.com/Roboy/roboy_controlled_node_fpga
[submodule "myoFPGA/src/roboy_communication"]
	path = myoFPGA/src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "myoFPGA/src/common_utilities"]
	path = myoFPGA/src/common_utilities
	url = https://github.com/Roboy/common_utilities
